{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"}
]}.

{relx, [
  {release, {my_app, "0.1.0"},
   [my_app]}
]}.

{profiles, [
  {dev, [
    {shell, [
      {config, {application, my_app, [
        {erl_opts, [
          {kernel, [{net_ticktime, 60}]},
          {inet_dist, [
            % Use environment variables
            {distrib, os:getenv("NODE_NAME")},
            {cookie, os:getenv("COOKIE")},
            {use_cookies, true}
          ]}
        ]}
      ]}}
    ]}
  ]}
]}.
