{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [tracker_https_handler]},
    {shell, [
      {config, {application, my_app, [
          {erl_opts, [
              {kernel, [net_ticktime, 60]},
              {inet_dist, [
                  {distrib, node_name},
                  {use_cookies, true}
              ]}
          ]},
          {env, [
              % Use environment variables for security
              {node_name, os:getenv("NODE_NAME")},
              {cookie, os:getenv("COOKIE")}
          ]}
      ]}}
  ]}
  
]}.
