{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"}
]}.

{shell, [
  {config, {application, my_app, [
      {erl_opts, [
          {kernel, [{net_ticktime, 60}]},
          {inet_dist, [
              % Use environment variables
              {distrib, os:getenv("NODE_NAME")},
              {cookie, os:getenv("COOKIE")},
              {use_cookies, true}
          ]}
      ]}
  ]}}
]}.


